
<div class="container-fluid">
  <!-- Barra de búsqueda -->


  <div class="row mb-2">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-viajes">ACTIVADOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/edit-viaje">DESACTIVADOS</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" routerLink="/add-viaje">AÑADIR</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="travel-grid">
    <div class="card travel-card" *ngFor="let trip of trips">
      <img [src]="trip.image" class="card-img-top" alt="Trip Image" />
      <div class="card-body">
        <p class="card-text">{{ trip.description }}</p>

        <div class="btn-group">
          <!-- Botón Editar -->
          <button type="button" class="btn btn-success btn-sm" (click)="enterEditMode(trip)">
            EDITAR
          </button>

          <!-- Botón Habilitar -->
          <button type="button" class="btn btn-primary btn-sm" (click)="enableTrip(trip)">
            HABILITAR
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar -->
  <div *ngIf="editMode" class="modal show d-block" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Editar Destino</h5>
          <button type="button" class="btn-close" (click)="cancelEdit()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario de edición -->
          <form (ngSubmit)="saveTrip()">
            <div class="mb-3">
              <label for="destinationName" class="form-label">Nombre del Destino</label>
              <input type="text" class="form-control" id="destinationName" [(ngModel)]="currentTrip.name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="destinationDescription" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="destinationDescription" [(ngModel)]="currentTrip.description" name="description" required>
            </div>
            <div class="mb-3">
              <label for="destinationCost" class="form-label">Costo del Destino</label>
              <input type="number" class="form-control" id="destinationCost" [(ngModel)]="currentTrip.cost" name="cost" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
