<div class="container mt-5 mb-3">

<div class="table-responsive">
  <table class="table table-hover table-bordered rounded shadow-sm">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">Viaje</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Cant. Asientos</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas" class="animate_animated animate_fadeInUp">
        <td class="align-middle">{{ reserva.viajeNombre }}</td>
        <td class="text-center align-middle">{{ reserva.fechaViaje | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="align-middle text-center">
          {{reserva.pasajeros.length}}
        </td>
        <td class="text-center align-middle">
          <button *ngIf="reserva.estado === 'CANCELADA'" class="btn btn-danger btn-sm m-1">
            <i class="fas fa-times"></i> {{reserva.estado}}
          </button>
          <button *ngIf="reserva.estado === 'CONFIRMADA'" class="btn btn-success btn-sm m-1" >
            <i class="fas fa-check"></i> {{reserva.estado}}
          </button>
          <button *ngIf="reserva.estado === 'PENDIENTE'" class="btn btn-warning btn-sm m-1">
            <i class="fas fa-clock"></i> {{reserva.estado}}
          </button>
        </td>
        <td class="text-center align-middle">
          <div class="btn-group" role="group" aria-label="Acciones">
            <button (click)="detail(reserva)" *ngIf="reserva.estado === 'CONFIRMADA' || reserva.estado === 'CANCELADA' || userRol === 'admin'" class="btn btn-primary btn-sm m-1">
              <i class="fas fa-eye"></i> DETALLES
            </button>
            <button *ngIf="reserva.estado === 'PENDIENTE' && userRol !== 'admin'" (click)="camcelar(reserva)" class="btn btn-danger btn-sm m-1">
              <i class="fas fa-times"></i> CANCELAR
            </button>
            <button *ngIf="reserva.estado === 'PENDIENTE' && userRol !== 'admin'" (click)="pagar(reserva)" class="btn btn-success btn-sm m-1">
              <i class="fas fa-check"></i> CONFIRMAR
            </button>            
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


</div>


<!-- Modal Agregar/Actualizar estacion -->
<div class="modal fade" id="modalDetailReserve" tabindex="-1" aria-labelledby="addEstacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-0 rounded-4 shadow-lg">
      
      <!-- Modal Header -->
      <div class="modal-header bg-primary text-white rounded-top animate__animated animate__fadeIn">
        <h5 class="modal-title minor-margin" id="addEstacionModalLabel">
          Detalles de la reserva
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        <p><strong>Viaje:</strong> {{ reserva.viajeNombre }}</p>
        <p><strong>Fecha:</strong> {{ reserva.fechaViaje | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Cantidad de Asientos:</strong> {{ reserva.pasajeros.length }}</p>
        <p><strong>Estado:</strong> {{ reserva.estado }}</p>
        <p><strong>Pasajeros:</strong></p>
        <ul>
          <li *ngFor="let pasajero of reserva.pasajeros">
            {{ pasajero.firstName }} ({{ pasajero.documentType }} - {{pasajero.documentNumber}})
          </li>
        </ul>
      </div>            
      
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      
    </div> <!-- Cierre de .modal-content -->
  </div> <!-- Cierre de .modal-dialog -->
</div> <!-- Cierre de .modal -->