

/*promociones text*/
.promo-text {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000; /* Color inicial del texto */
    animation: color-change 20s linear infinite; /* Animación de cambio de color */
    animation-delay: 2.5s; /* El color cambiará después de la animación de la barra */
}

/* Animación para cambiar colores del texto */
@keyframes color-change {
    0% {
        color: #ff0000; /* Rojo */
    }
    25% {
        color: #00ff00; /* Verde */
    }
    50% {
        color: #0000ff; /* Azul */
    }
    75% {
        color: #ffff00; /* Amarillo */
    }
    100% {
        color: #ff0000; /* Rojo */
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-bottom: 4px solid black; /* Barra negra con grosor de 4px */
    width: 0; /* Inicialmente oculta */
    height: 0;
	margin-top: 20px;
    animation: box-anim 20s linear infinite; /* Animación de la barra */
}

/* Animación para la barra debajo del texto */
@keyframes box-anim {
    0%, 100% {
        width: 0;
        height: 0;
    }
    10% {
        width: 30%;
        height: 0;
    }
    30% {
        width: 30vw;
        height: 4px; /* Establece la altura de la barra a 4px */
    }
    80% {
        width: 30vw;
        height: 4px;
    }
    100% {
        width: 0;
        height: 0;
    }
}
