<div class="container py-5">
  <!-- Detalles del viaje -->
  <div *ngIf="trip" class="trip-details-card shadow-lg p-5 rounded-4 mb-5 animate__animated animate__fadeInUp">
    <h2 class="text-center text-primary mb-4 display-4 fw-bold">{{ trip.nombre }}</h2>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <!-- Imagen del viaje -->
        <div class="position-relative">
          <img class="img-fluid rounded-3 shadow-lg trip-image" [src]="trip.urlImagen" alt="{{ trip.nombre }}" />
          <div class="badge bg-danger position-absolute top-0 end-0 m-3 p-2 text-white fs-5 rounded-pill">
            {{ trip.estado ? 'Disponible' : 'No Disponible' }}
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-between">
        <!-- Descripción del viaje -->
        <p class="fs-5 text-muted mb-4">{{ trip.descripcion | slice: 0:200 }}{{ trip.descripcion.length > 200 ? '...' : '' }}</p>
        <ul class="list-unstyled mb-4 text-muted">
          <li><strong>Fecha Inicio:</strong> {{ trip.fechaHoraSalida | date:'fullDate' }}</li>
          <li><strong>Fecha Fin:</strong> {{ trip.fechaHoraLlegada | date:'fullDate' }}</li>
          <li><strong>Costo:</strong> {{ trip.costo | currency }}</li>
        </ul>
        <!-- Botón para Reservar -->
        <div class="d-flex justify-content-center">
          <button (click)="reserveXd()" class="btn btn-primary btn-lg mt-3 shadow-lg rounded-pill w-75 btn-hover">
            Reservar Ahora
          </button>
        </div>
        
        <!-- Botón de detalles del viaje con ícono de bus -->
        <div class="d-flex justify-content-center mt-4">
          <button (click)="showTripDetails()" class="btn btn-outline-info btn-lg mt-3 shadow-lg rounded-pill w-75">
            <i class="bi bi-bus-front-fill me-2"></i> Ver Detalles del Viaje
          </button>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal de detalles del viaje -->
<div class="modal fade" id="tripDetailsModal" tabindex="-1" aria-labelledby="tripDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content animate__animated animate__zoomIn">
      <div class="modal-header">
        <h5 class="modal-title" id="tripDetailsModalLabel">Detalles del Viaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="trip-info">
          <p><strong>Estación de Origen:</strong> {{ trip.nombreEstacionOrigen }}</p>
          <p><strong>Estación de Destino:</strong> {{ trip.nombreEstacionDestino }}</p>
          <p><strong>Nombre del Bus:</strong> {{ bus.modelo }}</p>
          <p><strong>Placa:</strong> {{ bus.placa }}</p>
          <p><strong>Capacidad del Bus:</strong> {{ bus.capacidad }} pasajeros</p>
        </div>

        <!-- Contenedor de Asientos -->
        <div *ngIf="bus.capacidad > 0" class="mt-4">
          <h5 class="text-center">Asientos Disponibles</h5>
          <div class="row">
            <!-- Piso 1 -->
            <div class="col-12 col-lg-6 mb-3">
              <h6 class="text-center text-muted">Piso 1</h6>
              <div class="seat-floor-container">
                <div *ngFor="let row of [0, 1, 2, 3, 4]" class="seat-row d-flex custom-seat-row mb-3">
                  <div class="col-2 d-flex justify-content-center">
                    <button *ngFor="let seat of seats.slice(row * 4, row * 4 + 2)"
                            (click)="selectSeat(seat.seatId)"
                            [class]="seat.isAvailable ? 'btn btn-outline-success' : 'btn btn-outline-danger'"
                            class="seat-button"
                            [title]="seat.isAvailable ? 'Disponible' : 'Ocupado'">
                      <i class="bi" [ngClass]="seat.isAvailable ? 'bi-seat' : 'bi-seat-fill'"></i>
                    </button>
                  </div>
                  <div class="col-2 d-flex justify-content-center">
                    <button *ngFor="let seat of seats.slice(row * 4 + 2, row * 4 + 4)"
                            (click)="selectSeat(seat.seatId)"
                            [class]="seat.isAvailable ? 'btn btn-outline-success' : 'btn btn-outline-danger'"
                            class="seat-button"
                            [title]="seat.isAvailable ? 'Disponible' : 'Ocupado'">
                      <i class="bi" [ngClass]="seat.isAvailable ? 'bi-seat' : 'bi-seat-fill'"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Piso 2 -->
            <div class="col-12 col-lg-6 mb-3">
              <h6 class="text-center text-muted">Piso 2</h6>
              <div class="seat-floor-container">
                <div *ngFor="let row of [5, 6, 7, 8, 9]" class="seat-row d-flex custom-seat-row mb-3">
                  <div class="col-2 d-flex justify-content-center">
                    <button *ngFor="let seat of seats.slice(row * 4, row * 4 + 2)"
                            (click)="selectSeat(seat.seatId)"
                            [class]="seat.isAvailable ? 'btn btn-outline-success' : 'btn btn-outline-danger'"
                            class="seat-button"
                            [title]="seat.isAvailable ? 'Disponible' : 'Ocupado'">
                      <i class="bi" [ngClass]="seat.isAvailable ? 'bi-seat' : 'bi-seat-fill'"></i>
                    </button>
                  </div>
                  <div class="col-2 d-flex justify-content-center">
                    <button *ngFor="let seat of seats.slice(row * 4 + 2, row * 4 + 4)"
                            (click)="selectSeat(seat.seatId)"
                            [class]="seat.isAvailable ? 'btn btn-outline-success' : 'btn btn-outline-danger'"
                            class="seat-button"
                            [title]="seat.isAvailable ? 'Disponible' : 'Ocupado'">
                      <i class="bi" [ngClass]="seat.isAvailable ? 'bi-seat' : 'bi-seat-fill'"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-hover" data-bs-dismiss="modal">Cerrar</button>
        <button (click)="saveSeatSelection()" type="button" class="btn btn-success btn-hover">Guardar Selección</button>
      </div>
    </div>
  </div>
</div>




  <!-- Modal de inicio de sesión -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content animate__animated animate__zoomIn">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p>Por favor, inicie sesión para continuar con la reserva.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-hover" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Reserva -->
  <div class="modal fade" id="tripModall" tabindex="-1" aria-labelledby="tripModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content animate__animated animate__zoomIn">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p><strong>{{ trip.nombre }}</strong></p>
          <img class="img-fluid rounded-3 mb-3 shadow-lg" [src]="trip.urlImagen" alt="{{ trip.nombre }}" />
          <p>¿Está seguro de que desea reservar este viaje?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-hover" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary btn-hover">Confirmar Reserva</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Perfil de Usuario -->
  <div *ngIf="user" class="user-profile card shadow-lg p-5 mt-5 rounded-4 animate__animated animate__fadeInUp">
    <div class="d-flex align-items-center">
      <img [src]="user.profilePictureUrl" class="img-thumbnail me-3 profile-image" alt="Foto de perfil" />
      <div>
        <h5 class="fw-bold">{{ user.firstName }} {{ user.lastName }}</h5>
        <p class="text-muted">{{ user.email }}</p>
        <p class="text-muted">Teléfono: {{ user.phoneNumber }}</p>
      </div>
    </div>
  </div>
</div>
