.image-container {
  position: relative;
}

.overlay-text {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
}

.seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat-icon {
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
}

.seat-icon:hover {
  transform: scale(1.2);
  color: #17a2b8;
  cursor: pointer;
}

.vertical-divider {
  width: 2px;
  height: 100%;
  background-color: black;
}

.seat-available {
  color: #007bff;
}

.seat-reserved {
  color: #dc3545;
}

.seat-selected {
  color: #ffc107;
}