<footer class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h5 class="footer-heading">ECORÚ</h5>
        <p class="footer-text">Explora el mundo con nosotros y descubre aventuras inolvidables.</p>
      </div>
      <div class="col-md-3 mb-3 footer-links">
        <h5 class="footer-heading">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Viajes Populares</a></li>
          <li><a href="#">Un poco de nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="footer-heading">Contacto</h5>
        <p class="footer-text">Email: ECORU.com</p>
        <p class="footer-text">Teléfono: +51 987 654 321</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <h5 class="footer-heading">Suscríbete a nuestro boletín</h5>
        <form class="d-flex flex-column flex-md-row">
          <input type="email" class="form-control m-1" placeholder="Tu correo electrónico">
          <button  class="btn btn-primary m-1">Suscribirse</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p class="footer-text">Todos los derechos reservados &copy; 2024</p>
      </div>
    </div>
  </div>
</footer>