.footer-container {
  background: #222; /* Fondo oscuro */
  color: #fff;
  padding: 20px 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: start;
  justify-items: center;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-out;
}

.footer-item {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s ease-out forwards;
}

.footer-item:nth-child(1) {
  animation-delay: 0.3s;
}

.footer-item:nth-child(2) {
  animation-delay: 0.6s;
}

.footer-item:nth-child(3) {
  animation-delay: 0.9s;
}

.footer-item:nth-child(4) {
  animation-delay: 1.2s;
}

.footer-heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ff9900;
}

.footer-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.footer-text:hover {
  opacity: 1;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.footer-links a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ff9900;
  transition: width 0.3s ease;
}

.footer-links a:hover {
  color: #ff9900;
}

.footer-links a:hover::before {
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  color: #fff;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #ff9900;
  transform: scale(1.2);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-form .btn-submit {
  padding: 12px 25px;
  background-color: #ff9900;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form .btn-submit:hover {
  background-color: #ff6f00;
}

.footer-bottom {
  text-align: center;
}

.footer-text {
  font-size: 0.9rem;
  color: #ccc;
}

@media (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer-item {
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }
}

/* Animaciones */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
