
    <div class="container">
        <div class="header">
            <h1>Detalles del pago</h1>
        </div>
        <br>
        <div class="container">
            <label for="N° de tarjerta"> N° de tarjeta: </label>
            <input type="number" id="N° de tarjeta" placeholder="N° de tarjeta">
        </div>
        <div class="container">
            <label for="Nombre de la tarjerta"> Nombre de la tarjeta: </label>
            <input type="text" id="Nombre de la tarjeta" placeholder="Nombre de la tarjeta">
        </div>
        <div class="container">
            <label for="Fecha de Venc"> Fecha de Vencimiento: </label>
            <input type="date" [min]="minDate" id="Fecha de Vencimiento" placeholder="Fecha de Vencimiento">
        </div>
        <div class="container">
            <label for="Codigo de Seguridad"> Codigo de Seguridad: </label>
            <input type="text" id="Codigo de Seguridad" placeholder=" Codigo de Seguridad">
        </div>
        <!-- <div class="button-container">
            <button type="submit" class="btn-pagar"> PAGAR </button>
        </div> -->
        <div class="button-container">
            <form action="/procesar_pago" method="POST">
                <button type="submit" class="btn-pagar" [routerLink]="['/boleta']">Pagar</button>
            </form>
        </div>
    </div>
