

/* Estilos para los enlaces del nav */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; /* No permite que los elementos se ajusten en múltiples líneas */
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100px;
}

/* Estilo de los enlaces */
.nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.4s ease-in-out, transform 0.4s ease, scale 0.4s ease;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Subrayado de los enlaces */
.nav-link .underline {
    position: absolute;
    width: 0;
    height: 2px;
    background: white; /* Color naranja para el white */
    bottom: 0;
    left: 50%;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

/* Efecto de expansión del subrayado */
.nav-link:hover .underline {
    width: 100%;
    left: 0;
}

/* Efecto de escala y color sobre el enlace */
.nav-link:hover {
    transform: scale(1.1); /* Escala el enlace al pasar el mouse */
}

/* Estilo para los iconos dentro de los enlaces */
.nav-link:hover i {
    font-size: 1.6rem;
    transition: transform 0.5s ease, color 0.3s ease;
}

.nav-link:hover i {
    transform: rotate(360deg);
    color: yellow; /* Cambio de color a amarillo */
}

.btn1:hover i {
    transform: rotate(360deg);
    color: yellow; /* Cambio de color a amarillo */
}

/* Para los iconos */
.bi:hover {
    color: rgb(48, 60, 230);
    transition: color 0.3s;
}

/* Estilos para el botón de iniciar sesión */
.btn1 {
    position: relative;
    background: transparent;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    overflow: hidden;
    border: none;
    font-weight: bold;
    margin: 0 10px; /* Espacio entre los botones */
}

.btn1 span {
    position: absolute;
    background: white;
    transition: all 0.5s;
}

.btn1 span:nth-child(1), .btn2 span:nth-child(1) {
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
}

.btn1 span:nth-child(2), .btn2 span:nth-child(2) {
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
}

.btn1 span:nth-child(3), .btn2 span:nth-child(3) {
    height: 100%;
    width: 2px;
    left: 0;
    bottom: -100%;
}

.btn1 span:nth-child(4), .btn2 span:nth-child(4) {
    height: 100%;
    width: 2px;
    right: 0;
    top: -100%;
}

.btn1:hover span:nth-child(1), .btn2:hover span:nth-child(1) {
    left: 0;
}

.btn1:hover span:nth-child(2), .btn2:hover span:nth-child(2) {
    right: 0;
}

.btn1:hover span:nth-child(3), .btn2:hover span:nth-child(3) {
    bottom: 0;
}

.btn1:hover span:nth-child(4), .btn2:hover span:nth-child(4) {
    top: 0;
}

/* Estilo específico para el botón de registro */
.btn2 {
    background: yellow;
}

.btn2:hover {
    background: rgb(175, 175, 14);
}


/*para los icono*/
.bi:hover{
    color: rgb(48, 60, 230);
    transition: 0.3s;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

/* Rotación 360 grados en el ícono o imagen de perfil */
.nav-link img,
.nav-link i {
    transition: transform 0.5s ease;
}

.nav-link:hover img,
.nav-link:hover i {
    transform: rotate(360deg);
}
