<div class="container mt-5">
  
  <div class="row bg-primary rounded ">

    <!--TITULO-->
    <div class="col align-items-center justify-content-center d-flex">
      <div>
        <label style="font-size: 36px; color: white;" class="form-label"><b>Lista de usuarios</b></label>
      </div>
    </div>

    <!--CONTENEDOR DE CATEGORIAS-->
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="dropdown">
        <div class="input-group mb-1" style="width: 280px; display: flex; flex-direction: row; align-items: center;">
          <label class="input-group-text"><b>CATEGORIA</b></label>
          <select class="form-select" [(ngModel)]="selectedType" (change)="filterUsers()">
            <option value="TODOS">TODOS</option>
            <option value="admin">ADMINISTRADORES</option>
            <option value="cliente">CLIENTES</option>
          </select>                
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div class="dropdown">
        <div class="input-group mb-1" style="width: 280px; display: flex; flex-direction: row; align-items: center;">
          <input type="text" placeholder="Buscar..." class="form-control" (keyup)="onSearchChange($event)">
        </div>
      </div>
    </div>

    <!--CONTENEDOR DEL BOTON AGREGAR-->
    <div class="col-md-1 d-flex align-items-center justify-content-center">
      <button data-bs-toggle="modal" data-bs-target="#registroModal"
        class=" text-center d-flex justify-content-center align-items-center bg-primary"
        style="width: 50px; height: 50px; padding: 0; border: none;">
        <b><i class="bi bi-patch-plus-fill" style="font-size: 35px; color: black;"></i></b>
      </button>
    </div>

  </div>

  <br>
    <!-- Tabla de administración de usuarios -->
    <table class="table table-striped  rounded">
      <thead class="table-dark">
        <tr class="rounded">
          <th class="rounded text-center m-1">Nombres</th>
          <th class="rounded text-center m-1">Apellidos</th>
          <th class="rounded text-center m-1">Documento</th>
          <th class="rounded text-center m-1">N° Documento</th>
          <th class="rounded text-center m-1">Teléfono</th>
          <th class="rounded text-center m-1">Rol</th>
          <th class="rounded text-center m-1">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.documentType }}</td>
          <td>{{ user.documentNumber }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.userType }}</td>
          <td style=" display: flex; justify-content: center;">
            <button (click)="detailUser(user)" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detalleModal">
              <i class="fas fa-eye"></i> Ver Detalles
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="dModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dModalLabel">Detalles de usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">ID:</dt>
                    <dd class="col-sm-8">{{ user.primaryKey }}</dd>

                    <dt class="col-sm-4">Correo:</dt>
                    <dd class="col-sm-8">{{ user.email }}</dd>

                    <dt class="col-sm-4">Nombre:</dt>
                    <dd class="col-sm-8">{{ user.firstName }}</dd>

                    <dt class="col-sm-4">Apellido:</dt>
                    <dd class="col-sm-8">{{ user.lastName }}</dd>

                    <dt class="col-sm-4">Documento:</dt>
                    <dd class="col-sm-8">{{ user.documentType }}</dd>

                    <dt class="col-sm-4">N° Documento:</dt>
                    <dd class="col-sm-8">{{ user.documentNumber }}</dd>
                    
                    <dt class="col-sm-4">Telefono:</dt>
                    <dd class="col-sm-8">{{ user.phoneNumber }}</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
