<div class="container mt-2">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col text-center">
                    <img style="max-width: 200px;" src="https://i.ibb.co/9gdVv3r/barranca2.jpg" alt="">
                    <h3><b>Lima</b></h3>
                    <p class="text-muted">Descubre la belleza de la capital peruana.</p>
                </div>
                <div class="col">
                    <h5>Fechas de Validez:</h5>
                    <p>1 de octubre - 30 de noviembre</p>
                    <hr>
                    <h5>Precio:</h5>
                    <p class="font-weight-bold">$299 por persona (descuento del 20% incluido)</p>
                </div>
            </div>
            
            <h5>Condiciones:</h5>
            <ul>
                <li>Mínimo 2 personas</li>
                <li>Reservas sujetas a disponibilidad</li>
            </ul>

            <h5>Cómo Reservar:</h5>
            <ol>
                <li>Despúes de haber hecho click en reservar.</li>
                <li>Accede a la sección de reservas.</li>
                <li>Selecciona tu reserva.</li>
                <li>Completa tus datos.</li>
                <li>Confirma la información y procede al pago.</li>
            </ol>            

        </div>
    </div>
</div>
