

<div class="whatsapp-container"
     (mouseover)="showForm = true" 
     (mouseout)="checkMouseLeave($event)"
     (mousemove)="resetHideTimeout()"
     style="position: fixed; bottom: 50px; right: 50px; z-index: 1000;">
  <a href="https://wa.me/962842910" target="_blank" class="btn bg-transparent border-0 whatsapp-icon">
    <i class="bi bi-whatsapp"></i>
  </a>
  <div class="whatsapp-form-container bg-white" [ngClass]="{'show': showForm}">
    <div class="d-flex flex-column align-items-center">
      <p class="mb-2 text-black">Haz tu consulta</p>
      <textarea name="userMensaje" [(ngModel)]="userMensaje" class="form-control mb-2" placeholder="Ingresa tu consulta..." required rows="3"></textarea>
      <button type="button" class="btn btn-success" (click)="enviarMensaje()">Enviar</button>
    </div>
  </div>
</div>