<div class="d-flex align-items-center justify-content-center m-2 text-center">
    <div class="rounded bg-primary opacity-75 p-2">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="originInput">ORIGEN</label>
            <input 
              type="text" 
              class="form-control" 
              id="originInput" 
              placeholder="Buscar..."
              (input)="onOriginChange($event)" 
              list="origenList"
            >
          </div>
          <datalist id="origenList">
            <option *ngFor="let ciudad of filterCiudades.slice(0, 5)" [value]="ciudad" class="itemxd">{{ ciudad }}</option>
          </datalist>
        </div>
  
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="destinationInput">DESTINO</label>
            <input 
              type="text" 
              class="form-control" 
              id="destinationInput" 
              placeholder="Buscar..." 
              list="destinoList"
            >
          </div>
          <datalist id="destinoList">
            <option *ngFor="let ciudad of filterCiudades.slice(0, 5)" [value]="ciudad" class="itemxd">{{ ciudad }}</option>
          </datalist>
        </div>
  
        <div class="col">
          <div class="input-group mb-3">
            <label class="input-group-text" for="dateInput">FECHA</label>
            <input 
              type="date" 
              class="form-control" 
              id="dateInput" 
              [min]="minDate"
              (input)="onDateChange($event)"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  