<div class="d-flex align-items-center justify-content-center mt-5">
    <div style="    border: 1px solid #ddd; border-radius: 10px;">
    <div id="comprobante">
        <div class="row mb-4">
            <div class="col-8 header-title">
                <h4>EXPLORA EL MUNDO CON<b>ECORÚ. SAC</b></h4>
                <p>Av. España - Trujillo - Perú<br>ecoru&commat;gmail.com <strong>|</strong> 921258815</p>
            </div>
            <div class="col-4 text-end">
                <div class="border p-2">
                    <p><strong>RUC:</strong> 10142536781</p>
                    <p><strong>BOLETA:</strong> 001 - 214 - 2024</p>
                </div>
            </div>
        </div>

        <!-- Datos del cliente -->
        <table class="table mb-4 table-sm">
            <tbody>
                <tr>
                    <td class="border-0 m-0 p-2"><strong>RAZON SOCIAL</strong></td>
                    <td class="border-0 m-0 p-2" id="razonSocial">{{ usuario.firstName }} {{ usuario.lastName }} </td>
                    <td class="border-0 m-0 p-2"><strong>FECHA EMISIÓN</strong></td>
                    <td class="border-0 m-0 p-2" id="fecha">{{ fechaEmision }}</td>
                </tr>
                <tr>
                    <td class="border-0 m-0 p-2"><strong> {{ usuario.documentType }} </strong></td>
                    <td class="border-0 m-0 p-2" id="nDoc">{{ usuario.documentNumber }}</td>
                    <td class="border-0 m-0 p-2"><strong>MÉTODO DE PAGO</strong></td>
                    <td class="border-0 m-0 p-2" id="metodoPago">{{ metodoPago }}</td>
                </tr>
                <tr>
                    <td class="border-0 m-0 p-2"><strong>TELÉFONO</strong></td>
                    <td class="border-0 m-0 p-2" id="telefono">{{ usuario.phoneNumber }}</td>
                    <td class="border-0 m-0 p-2"><strong>CORREO</strong></td>
                    <td class="border-0 m-0 p-2" id="correo">{{ usuario.email }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Sección Extra con los datos de los pasajeros -->
        <div class="extra-info">
            <h5>{{ reserva.pasajeros.length === 1 ? 'Datos del pasajero:' : 'Datos de los pasajeros:' }}</h5>
            <table class="table table-bordered mb-4 table-striped table-sm">
                <thead>
                    <tr>
                        <th class="m-0 p-2">Nombre</th>
                        <th class="m-0 p-2">Documento</th>
                        <th class="m-0 p-2">Teléfono</th>
                        <th class="m-0 p-2">Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let passenger of reserva.pasajeros">
                        <td class="m-0 p-1">{{ passenger.firstName }}</td>
                        <td class="m-0 p-1">{{ passenger.documentType }}</td>
                        <td class="m-0 p-1">{{ passenger.phoneNumber }}</td>
                        <td class="m-0 p-1">{{ passenger.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Totales -->
        <div class="row">
            <div class="col-8 footer-note">
                <p class="text-center">Nuestros precios incluyen IGV.</p>
            </div>
            <div class="col-4 footer-table">
                <table class="table">
                    <tfoot>
                        <tr class="boder-0">
                            <td class=" m-0 p-0 border-0">SUBTOTAL</td>
                            <td id="subtotal" class="text-end m-0 p-0 border-0">S/. {{pago.monto - pago.monto * 0.18}} </td>
                        </tr>
                        <tr class="boder-0">
                            <td class=" m-0 p-0 border-0">IGV (18%)</td>
                            <td id="igv" class="text-end m-0 p-0 border-0">S/. {{ (pago.monto * 0.18) }} </td>
                        </tr>
                        <tr class="boder-0">
                            <td class=" m-0 p-0 border-0">TOTAL</td>
                            <td id="total" class="text-end m-0 p-0 border-0">S/. {{pago.monto}} </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Botones -->
<div class="d-flex align-items-center justify-content-center mt-4">
    <button type="button" class="btn btn-primary m-2" (click)="Descargar()">Descargar</button>
    <button type="button" class="btn btn-primary m-2" (click)="Imprimir()">Imprimir</button>
    <!-- Botón Aceptar -->
    <button type="button" class="btn btn-success m-2" (click)="Aceptar()">Aceptar</button>
</div>
