

#comprobante {
    width: 210mm; /* Tamaño A4 */
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    margin: auto;
}

.header-title {
    color: #42988f;
    text-align: center;
}

.header-title h4 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header-title p {
    margin: 0;
    font-size: 14px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
}

/* Mejoramos la apariencia de la tabla */
.table {
    font-size: 14px;
    color: #495057;
    border-collapse: collapse;
}

.table th {
    background-color: #42988f;
    color: white;
    text-align: center;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table tfoot td {
    font-weight: bold;
}


.footer-table {
    text-align: right;
}

.btn-primary {
    background-color: #42988f;
    border-color: #42988f;
}

.btn-primary:hover {
    background-color: #367f77;
    border-color: #367f77;
}
