<div class="d-flex align-items-center justify-content-center mt-5">
    <div id="comprobante">
        <div class="row mb-4">
            <div class="col-4 header-logo">
                <img src="https://i.ibb.co/wCTNS9F/ecoru.png" style="width:180px; height: auto;" alt="Ecorú">
            </div>
            <div class="col-4 header-title">
                <h4>EXPLORA EL MUNDO CON<br><b>ECORÚ. SAC</b></h4>
                <p>Av. España - Trujillo - Perú<br>ecoru&commat;gmail.com<br>921258815</p>
            </div>
            <div class="col-4 text-end">
                <div class="border p-2">
                    <p><strong>RUC:</strong> 10142536781</p>
                    <p><strong>BOLETA:</strong> 001 - 214 - 2024</p>
                </div>
            </div>
        </div>

        <!-- Datos del cliente -->
        <table class="table table-bordered mb-4 table-striped table-sm">
            <tbody>
                <tr>
                    <td><strong>RAZON SOCIAL</strong></td>
                    <td id="razonSocial">{{ user ? user.firstName + ' ' + user.lastName : 'Cargando...' }}</td>
                    <td><strong>FECHA EMISIÓN</strong></td>
                    <td id="fecha">{{ fechaEmision }}</td>
                </tr>
                <tr>
                    <td><strong>RUC/DNI</strong></td>
                    <td id="nDoc">{{ user ? user.dni : 'Cargando...' }}</td>
                    <td><strong>MÉTODO DE PAGO</strong></td>
                    <td id="metodoPago">{{ metodoPago }}</td>
                </tr>
                <tr>
                    <td><strong>TELÉFONO</strong></td>
                    <td id="telefono">{{ user ? user.phone : 'Cargando...' }}</td>
                    <td><strong>CORREO</strong></td>
                    <td id="correo">{{ user ? user.email : 'Cargando...' }}</td>
                </tr>
                <tr>
                    <td><strong>DIRECCIÓN</strong></td>
                    <td id="direccion" colspan="3">{{ user ? user.address : 'Cargando...' }}</td>
                </tr>
            </tbody>
        </table>

     <!-- Sección Extra con los datos de los pasajeros -->
<div class="extra-info">
    <h5>{{ selectedSeats.length === 1 ? 'Datos del pasajero:' : 'Datos de los pasajeros:' }}</h5>
    <table class="table table-bordered mb-4 table-striped table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Teléfono</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let passenger of seatForms">
                <td>{{ passenger.formData.fullName }}</td>
                <td>{{ passenger.formData.docNumber }}</td>
                <td>{{ passenger.formData.phoneNumber }}</td>
                <td>{{ passenger.formData.email }}</td>
            </tr>
        </tbody>
    </table>
</div>

        <!-- Detalles de los productos -->
        <table class="table table-bordered mb-4">
            <thead>
                <tr>
                    <th class="text-center">ITEM</th>
                    <th class="text-center">DESCRIPCIÓN</th>
                    <th class="text-center">PASAJEROS</th>
                    <th class="text-center">PRECIO U</th>
                    <th class="text-center">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.00</td>
                    <td>{{ trip ? trip.descripcion : 'Cargando...' }}</td>
                    <td>{{ selectedSeats.length }}</td>
                    <td>S/. {{ trip ? (trip.costo) : 'Cargando...' }}</td>
                    <td>S/. {{ (total) }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Totales -->
        <div class="row">
            <div class="col-6 footer-note">
                <p>Nuestros precios incluyen IGV.</p>
            </div>
            <div class="col-6 footer-table">
                <table class="table table-bordered">
                    <tfoot>
                        <tr>
                            <td>SUBTOTAL</td>
                            <td id="subtotal" class="text-end">S/. {{ subtotal}}</td>
                        </tr>
                        <tr>
                            <td>IGV (18%)</td>
                            <td id="igv" class="text-end">S/. {{ igv }}</td>
                        </tr>
                        <tr>
                            <td>TOTAL</td>
                            <td id="total" class="text-end">S/. {{ total }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- QR code -->
        <div class="row mt-4">
            <div class="col-12 text-center qr-code">
                <img src="https://th.bing.com/th/id/OIP.AzGsz6YA4Aup3paQ_poIAwHaHa?w=1160&h=1160&rs=1&pid=ImgDetMain" alt="QR Code">
            </div>
        </div>
    </div>
</div>
<!-- Botones -->
<div class="d-flex align-items-center justify-content-center mt-4">
    <button type="button" class="btn btn-primary m-2" (click)="Descargar()">Descargar</button>
    <button type="button" class="btn btn-primary m-2" (click)="Imprimir()">Imprimir</button>
    <!-- Botón Aceptar -->
    <button type="button" class="btn btn-success m-2" (click)="Aceptar()">Aceptar</button>
</div>
