

<div class="row w-100 d-flex align-items-center justify-content-center p-2 ">

  <div class="col-md-8 p-4 d-flex align-items-center justify-content-center">
    <img style="width: 500px; border-radius: 10px;" class="m-1" src="
    https://media.istockphoto.com/id/1417089752/es/foto/retrato-del-empresario-y-empresaria-en-una-oficina.jpg?s=612x612&w=0&k=20&c=W30qtCB6kSeLEJWUc4RqaMznUe9bLINtfS4sOMmvEgU=      " alt="">

    <div class="">
      <img style="width: 240px; border-radius: 10px;" class="m-1" src="
      https://media.istockphoto.com/id/2057138794/es/foto/female-hands-typing-message-on-smartphone.jpg?s=612x612&w=0&k=20&c=l0QqLlnQ1r1cpOYYCPJjx9I8AiUxQcrPfJBa29unJLM=
      " alt="">

      
            <img style="width: 240px; border-radius: 10px;" class="m-1" src="
            https://media.istockphoto.com/id/1442295199/es/foto/el-inversionista-financiero-exitoso-trabaja-dentro-de-la-oficina-en-el-trabajo-el-hombre-de.jpg?s=612x612&w=0&k=20&c=RqviyHNj2SI4WLLCdRLDfpLNijriW8A27nZD10hz0UY=      " alt="">
    </div>
  </div>

  <div class="col-md-4 p-2" style="height: 100%;">
      <div class="card" style="height: 100%;">
        <div class="card-body" style="min-height: 210px;">
          <h4 class="card-title text-center"><b>Nuestros Inicios</b></h4>
          <p class="card-text" style="text-align: justify;">
            Ecoru nació con la visión de ser más que una simple empresa de viajes. Desde el principio, nuestro objetivo ha sido simplificar y mejorar la planificación de viajes, ofreciendo las herramientas necesarias para crear experiencias personalizadas y perfectas.
          </p>
        </div>
      </div>
    </div>
    <hr>
</div>

<div class="w-100 d-flex align-items-center justify-content-between">
<div class="col w-50 d-flex align-items-center justify-content-center">
  <div class="" style="height: 100%; width: 400px;">
    <div class="card" style="height: 100%;">
      <div class="card-body" style="min-height: 210px;">
        <h4 class="card-title text-center"><b>Nuestra Misión</b></h4>
        <p class="card-text" style="text-align: justify;">
          Nuestra misión es facilitar la planificación y organización de viajes, ya sean de placer o de negocios, garantizando que nuestros clientes disfruten de sus experiencias con total comodidad y seguridad.
        </p>
      </div>
    </div>
    <img style="width: 400px; border-radius: 10px; padding-top: 2px; margin-bottom: 20px;" src="
    https://media.istockphoto.com/id/1434101558/es/foto/solo-para-viajeros.jpg?s=612x612&w=0&k=20&c=U50BrJsK0FgUhCvRRrfjyLj9XCtv69RLgoUYdtlaZxU=
    " alt="">
  </div>
</div>

<div class="col w-50 d-flex align-items-center justify-content-center">
  <div class="" style="height: 100%; width: 400px;">
    <div class="card" style="height: 100%;">
      <div class="card-body" style="min-height: 210px;">
        <h4 class="card-title text-center"><b>Nuestra Visión</b></h4>
        <p class="card-text" style="text-align: justify;">
          Ser la empresa líder en el mercado, combinando calidad con tecnología para ofrecer aventuras inolvidables y escapadas perfectas. Nuestro objetivo es proporcionar una experiencia de viaje única y personalizada, simplificando la planificación y garantizando la satisfacción de nuestros clientes.
        </p>
      </div>
    </div>
    <img style="width: 400px; border-radius: 10px; padding-top: 2px; margin-bottom: 20px;" src="
    https://media.istockphoto.com/id/945456812/es/foto/al-aire-libre-solo-pensamiento-de-hombre-de-negocios-permanente.jpg?s=612x612&w=0&k=20&c=VVcqZ9xMg4iHdsXptpeeR9j5krbCp90sUDVDjvQOaVI=
    " alt="">
  </div>

</div>

</div>