    <div class="">
        <h1 class="text-center"><b>Encuentra tu destino</b></h1>
    </div>


<div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 300px; height: 300px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 1px;">Ver detalles</a>
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 1px;">Reservar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="card mb-3 p-0 border-0" style="width: 200px; height: auto;">
        <div class="card-body border-0 m-0 p-0">
          <img style="width: 198px; height: 200px; margin: 0px; padding: 0px; border-radius: 10px;" src="
          https://media.istockphoto.com/id/458569733/es/foto/city-square-en-ayacucho-per%C3%BA.jpg?s=612x612&w=0&k=20&c=8eVqNlaNJLdHYIpPoI8HQ-rOvfi9EKkCl4rkEwYa9bc=
          " alt="">
          <div class="d-flex align-items-center justify-content-center">
            <a href="#" class="btn btn-primary" style="margin-top: 2px; margin-bottom: 2px;">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>

</div>