<div class="container py-5">

    <div *ngIf="asientos.length > 0" class="card mb-4 shadow-lg border-0 animate__animated animate__fadeIn animate__delay-1s" style="max-width: 800px; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">
                <i class="bi bi-person-circle"></i> Información del Pasajero - <strong>Asiento {{asientos[currentPassengerIndex].numero}}</strong>
            </h5>

            <form>
                <div class="form-group mb-1">
                    <label for="name" class="form-label">
                        <i class="bi bi-person-fill"></i> Nombre
                    </label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="pasajeros[currentPassengerIndex].firstName" name="name"
                        required>
                </div>
                <div class="form-group mb-1">
                    <label for="surname" class="form-label">
                        <i class="bi bi-person-lines-fill"></i> Apellidos
                    </label>
                    <input type="text" class="form-control" id="surname" [(ngModel)]="pasajeros[currentPassengerIndex].lastName" name="surname"
                        required>
                </div>
                <div class="mb-1">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-1">
                            <label for="inputDocumentType" class="form-label">
                                <i class="bi bi-card-text"></i> Tipo de Documento
                            </label>
                            <select class="form-select" id="inputDocumentType" [(ngModel)]="pasajeros[currentPassengerIndex].documentType" name="document_type"
                                >
                                <option value="DNI">DNI</option>
                                <option value="PASAPORTE">PASAPORTE</option>
                                <option value="RUC">RUC</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-1">
                            <label for="inputDocumentNumber" class="form-label">
                                <i class="bi bi-file-earmark-person"></i> N° de Documento
                            </label>
                            <input type="text" class="form-control" id="inputDocumentNumber" [(ngModel)]="pasajeros[currentPassengerIndex].documentNumber" name="document_number"
                                required>
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-1">
                            <label for="phone" class="form-label">
                                <i class="bi bi-telephone-fill"></i> Teléfono
                            </label>
                            <input type="text" class="form-control" id="phone" [(ngModel)]="pasajeros[currentPassengerIndex].phoneNumber" name="phone_number"
                                required>
                        </div>
                        <div class="col-12 col-md-6 mb-1">
                            <label for="mail" class="form-label">
                                <i class="bi bi-envelope-fill"></i> Correo
                            </label>
                            <input type="email" class="form-control" id="mail" [(ngModel)]="pasajeros[currentPassengerIndex].email" name="email"
                                required>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-secondary" (click)="previousPassenger()" [disabled]="currentPassengerIndex === 0">
                        <i class="bi bi-arrow-left-circle"></i> Anterior
                    </button>
                    <button type="button" class="btn btn-primary w-50 mx-auto " (click)="registerPassenger(currentPassengerIndex)">
                        {{ pasajeros[currentPassengerIndex].registered ? 'Actualizar Datos' : 'Guardar Pasajero' }}                    </button>
                    <button type="button" class="btn btn-secondary" (click)="nextPassenger()" [disabled]="currentPassengerIndex === pasajeros.length - 1">
                        Siguiente <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Botón de reservar que solo se muestra cuando todos los pasajeros están registrados -->
    <div class="d-flex justify-content-center">
        <button class="btn btn-success w-50 p-2 mt-4" (click)="reserveSeats()" [disabled]="!areAllPassengersRegistered()">Reservar Asientos</button>
    </div>
</div>
